<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3E492B8A1F663AC50006F298</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E492B961F663ACF0006F298</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E492BA51F663B0C0006F298</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E493DC91F6652820006F298</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E493DD81F66528C0006F298</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E493DE71F6652990006F298</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E493E081F6654600006F298</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E8A16801F67918C00E039BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3ECAC37C1F6796E800E212E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3ECAC3B11F679CFB00E212E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3ECAC3E01F681C6400E212E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3ECAC4141F681D6C00E212E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3ECAC4261F681D9900E212E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CAFC10E1785B63900647A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CBB42FF178C399D00FA270D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
